* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

.link-secondary:focus{
    color: #fff;
}

.list-style-none {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
}

.header-logo{
    margin-top: -5px;
}

.main, .about, .create, .note {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.hide{
    display: none;
    transition: 1s ease-out;
}

.active {
    color: #fff;
}





@media screen and (max-width: 576px) {
    .header-nav{
        display: none;
    }


    /* ------ Burger -----*/


    .burger-btn {
        position: absolute;
        top: 19px;
        right: 3%;
        width: 30px;
        height: 30px;
        transition: all 300ms cubic-bezier(.61, .01, .42, 1);
        cursor: pointer;
        background: transparent;
        border: 0px;
        z-index: 9999;
    }

    .burger-div {
        height: 0px;
        border: 1px solid #fff;
        width: 22px;
        display: block;
        position: absolute;
        transition: all 300ms cubic-bezier(.61, .01, .42, 1);
        background:#fff;
    }

    .burger-btn:hover {
        transition-delay: 100ms;
        transform: scale(1.1);
    }

    .burger-btn:hover div:nth-child(3):before {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #F26451;
    }

    .burger-btn:hover div {
        border: 2px solid #fff;
        height: 9px;
        border-radius: 50%;
        margin-left: -1px;
        margin-top: 2px;
        animation: atom 300ms linear 1;
        width: 25px;
        top: 0px;
        background:transparent;
    }

    .burger-btn:focus {
        outline: 0px;
    }

    .burger-div:nth-child(1) {
        top: 0px;
    }

    .burger-div:nth-child(2) {
        top: 8px;
    }

    .burger-div:nth-child(3) {
        top: 16px;
    }

    .burger-div:nth-child(3):before {
        opacity: 0;
        animation: ball 1.5s linear infinite;
        content: '';
        border: 2px solid #fff;
        display: block;
        position: relative;
        top: 0.25px;
    }

    .burger-btn:hover div:nth-child(1) {
        transform: rotate(-33deg);
    }

    .burger-btn:hover div:nth-child(2) {
        transform: rotate(90deg);
    }

    .burger-btn:hover div:nth-child(3) {
        transform: rotate(33deg);
    }

    .burger-btn:hover div:nth-child(3):before {
        opacity: 1;
        transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
    }

    .burger-btn:active:hover div:nth-child(3):before,
    .burger-btn:active div:nth-child(3):before,
    .burger-btn:active div:nth-child(2) {
        opacity: 0;
        transition: all 200ms;
    }

    .burger-btn:active div {
        border: 1.5px solid #fff;
        height: 0px;
        border-radius: 0%;
        margin-left: -1px;
        margin-top: 6px;
        animation: division 300ms linear 1;
        width: 25px;
        top: 0px;
    }

    .burger-btn:active div:nth-child(2) {
        width: 0px;
    }

    .burger-btn:active div:nth-child(3) {
        transform: rotate(45deg);
    }

    .burger-btn:active div:nth-child(1) {
        transform: rotate(-45deg);
    }

    @keyframes atom {
        0% {
            transform: rotate(180deg);
        }
    }

    @keyframes division {
        0% {
            transform: rotate(180deg);
        }
    }

    @keyframes ball {
        0% {
            left: -20%;
            top: 10%;
        }
        10% {
            left: 10%;
            top: -35%;
        }
        25% {
            left: 45%;
            top: -50%;
        }
        40% {
            left: 80%;
            top: -20%;
        }
        50% {
            left: 98%;
            top: 18%;
        }
        60% {
            left: 80%;
            top: 50%;
        }
        75% {
            left: 45%;
            top: 80%;
        }
        90% {
            left: 0%;
            top: 60%;
        }
        100% {
            left: -20%;
            top: 10%;
        }
    }


    /* PLASHA */


    .block-menu {
        position: absolute;
        width: 200px;
        right: 0;
        top: 0;
        padding: 87px 47px 75px 30px;
        background: #c8c8c8;
        font-size: 19px;
        text-align: right;
        margin: 4px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 1px 100px -45px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 1px 100px -45px rgba(0, 0, 0, 0.47);
        box-shadow: 0px 1px 100px -45px rgba(0, 0, 0, 0.47);
    }

}


@media screen and (min-width: 577px) {
    #menuToggle {
        display: none;
    }
}
